<mat-grid-list cols="1" rowHeight="7:4" >
    <mat-grid-tile >
        <mat-grid-list cols="1">
            <mat-list>
                <mat-list-item *ngFor="let item of list">
                    <h3>
                        <a [routerLink]="'/details/'+ type+ '/' + item.id"> Title: {{ item.title }}</a>
                    </h3>

                </mat-list-item>

            </mat-list>
            <div class="books" >


            </div>
        </mat-grid-list>

    </mat-grid-tile>
</mat-grid-list>
